.slide1 {
  height: 500px;
}
.slide2 {
  height: 500px;
}
.slide3 {
  height: 500px;
}
.slide4 {
  height: 500px;
}
.slide5 {
  height: 500px;
}
.slide6 {
  height: 500px;
}
.headerStyles {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
