.slide1 {
  background-color: #f00;
}
.slide2 {
  background-color: #0f0;
}
.slide3 {
  background-color: #00f;
}
.slide4 {
  background-color: #ff0;
}
.slide5 {
  background-color: #f0f;
}
.slide6 {
  background-color: #0ff;
}
